$color-primario: #1e90ff;
$color-primario-hover: #1c7ed6;
$color-secundario: #2f3542;
$color-blanco: #FFFFFF;
$color-rojo: red;
$color-texto: #2d3436;
$color-fondo: #f5f6fa;
$color-acento: #ffa502;
$color-verde-acento: #40c55a;
$color-acento-hover: #e69502;
$color-verde-acento-hover: #369949;

$font-100: 100;
$font-200: 200;
$font-300: 300;
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-800: 800;
$font-900: 900;
$font-bold: bold;
$font-bolder: bolder;
